<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="/">
    <img src="../images/Gmart.png" width="30" height="30" alt="" />
  </a>
  <a class="navbar-brand" href="/">GatorMart</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0" id="navBarSearchForm" action="/result">
      <div class="select-dropdown">
        <select name="category" id="category">
          <option value="">All</option>
          {{#each categories}}
          <option value="{{category}}" {{#if selected}}selected{{/if}}>{{category}}</option>
          {{/each}}
        </select>
      </div>

      <input class="form-control mr-sm-2" type="text" name="search" value="{{search}}" placeholder="Search" aria-label="Search" id="searchbar">
      <button class="btn btn-warning my-2 my-sm-0 search-button" type="sumbit">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
      </button>
    </form>
    <ul class="navbar-nav mr-auto">
      {{#if session.user_id}}
      <li class="nav-item active">
        <a class="nav-link" href="/item/post">Post/Sell<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/messages">Messages<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user">My Page <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/auth/logout">Logout<span class="sr-only">(current)</span></a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/auth/login">Login/Register<span class="sr-only">(current)</span></a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

<script>
  getCategories("category");
</script>