<div class="main-container">
    <div class="page-wrap">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div class="uk-panel">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
                    src="../../images/ChutingYan.jpg" alt="ChutingYan" style="height: 380px;">
            </div>
        <div class="about-label">
          <h2>Front-End Lead<br><small>Chuting Yan</small></h2>
          <div class="about-desc">
                    Currently a graduate student majoring in Computer Science, Chuting Yan is interested in various
                    topics
                    including Web Development, Machine Learning, and Data Visualization.
                    She previously worked as a Teaching Assistant for math department. In her freetime, she likes to
                    travel
                    and
                    watching movies.
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>