<div class="main-container">
    <div class="page-wrap">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div class="uk-panel">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
                    src="../../images/ShaneWaxler.png" alt="" style="height: 380px;">
            </div>
        <div class="about-label">
          <h2>Team Lead<br><small>Shane Waxler</small></h2>
          <div class="about-desc">
                    Fourth year undergraduate studying Computer Science. Interests include machine learning, digital
                    signal
                    processing,
                    and music. Has previously worked as an elementary school teacher; is currently working with the
                    People and
                    Robots
                    Laboratory (PeRL) at San Francisco State University and as a teachers assistant for CSC665/865 with
                    Pooyan
                    Fazli.
                </div>
            </div>
        </div>
    </div>
</div>