<body>
  <div class="main-container">
    <div class="page-wrap">
      <div class="uk-child-width-1-4@m" uk-grid>
        <div class="uk-panel">
          <img
            class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
            src="../../images/MelissaHo.jpg" alt="" style="height: 380px;">
        </div>
        <div class="uk-child-width-1-2@m.uk-grid.uk-grid-stack .uk-text-center@s uk-margin-large-top">
          <h2>Front-End<br><small>Melissa Ho</small></h2>
          <p class="uk-align-center uk-align-left@m uk-margin-large-left uk-margin-large-right uk-margin-medium-top">
            Hello World! I'm Melissa. I am a senior Computer Science student at San Francisco State University.
            I like design and I hope to work in a field where I can make products that can be used by everyone
            to make their lives more convenient.
            In my free time, I like to crochet, cook, and play with my cat. I'm also an avid yoga practitioner
            and long distance runner.
          </p>
        </div>
      </div>
    </div>
</body>