<div class="main-container">
    <div class="page-wrap">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div class="uk-panel">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
                    src="../../images/RobertGarcia.jpg" alt="" style="height: 380px;">
            </div>
        <div class="about-label">
          <h2>Back-End Lead<br><small>Robert Garcia</small></h2>
          <div class="about-desc">
                    Currently a senior in his last semester, Robert Garcia is a Computer Science major at San Francisco
                    State
                    University.
                    Robert hopes to become a software developer soon after he graduates and has learned a number of
                    different
                    languages, with his
                    favorite being C++. In his freetime, you can find Robert watching basketball, playing retro
                    videogames, or
                    watching movies.
                    <br>
                    <br>
                    Robert can be contacted at RGarcia35@mail.sfsu.edu
                </div>
            </div>
        </div>
    </div>
</div>