<div class="main-container">
    <div class="page-wrap">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div class="uk-panel">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
                    src="../../images/XiaoqingYao(Max).jpg" alt="" style="height: 380px;">
            </div>
        <div class="about-label">
          <h2>Front-End<br><small>Xiaoqing Yao</small></h2>
          <div class="about-desc">
                    I love video games. <br>
                    I love San Francisco.
                </div>
            </div>
        </div>
    </div>
</div>