<!--
      FILE: view/about.hbs
      DESCRIPTION: A page that contains a photo, role, and a short introduction on all the members of the team

      ADDED BY: Chuting Yan 
  -->

<body>
  <div class="main-container">
    <div class="page-wrap">
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1 uk-row-first">
          <!-- Card Components -->
          <div
            class="uk-child-width-1-5@m uk-margin-large-right uk-margin-large-left uk-margin-large-bottom uk-margin-large-top"
            uk-grid>
            <div>
              <div class="uk-card uk-card-default ">
                <div class="uk-card-media-top">
                  <a href="./about/Shane"> <img src="../images/ShaneWaxler.png" alt="Shane Waxler"
                      style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Shane Waxler</h4>
                  <p>Team Lead</p>
                  <a href="./about/Shane">Read More</a>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <a href="./about/Minggu"> <img src="../images/MingguMa.png" alt="" style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Minggu Ma</h4>
                  <p>GitHub Lead</p>
                  <a href="./about/Minggu">Read More</a>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <a href="./about/Chuting">
                    <img src="../images/ChutingYan.jpg" alt="ChutingYan" style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Chuting Yan</h4>
                  <p>Front-End Lead</p>
                  <a href="./about/Chuting">Read More</a>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <a href="./about/Robert"> <img src="../images/RobertGarcia.jpg" alt="" style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Robert Garcia</h4>
                  <p>Back-End Lead</p>
                  <a href="./about/Robert">Read More</a>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <a href="./about/Melissa"> <img src="../images/MelissaHo.jpg" alt="MelissaHo"
                      style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Melissa Ho</h4>
                  <p>Front-End</p>
                  <a href="./about/Melissa">Read More</a>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <a href="./about/Joe"> <img src="../images/JoeGuan.png" alt="Joe" style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Joe Guan</h4>
                  <p>Back-End</p>
                  <a href="./about/Joe">Read More</a>
                </div>
              </div>
            </div>

            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <a href="./about/Xiaoqing"> <img src="../images/XiaoqingYao(Max).jpg" alt="" style="width: 100%" /></a>
                </div>
                <div class="uk-card-body">
                  <h4 class="uk-card-title">Xiaoqing Yao</h4>
                  <p>Front-End</p>
                  <a href="./about/Xiaoqing">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>