<div class="main-container">
    <div class="page-wrap">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div class="uk-panel">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
                    src="../../images/MingguMa.png" alt="" style="height: 380px;">
            </div>
        <div class="about-label">
          <h2>GitHub Lead<br><small>Minggu Ma</small></h2>
          <div class="about-desc">
                    Senior Year Computer Engineering Student.
                    Used to work as a React-Native software development internship.
                    Actively looking for a job right now.
                </div>

            </div>
        </div>
    </div>
</div>