<div class="main-container">
    <div class="page-wrap">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div class="uk-panel">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
                    src="../../images/JoeGuan.png" alt="Joe" style="height: 380px;">
            </div>
        <div class="about-label">
          <h2>Back-End<br><small>Joe Guan</small></h2>
          <div class="about-desc">
                    A 5th year undergraduate in his last semester studying computer science.
                    Hopes to find a job in software development.
                    Interests includes reading, working out and setting up tech for events.
                </div>
            </div>
        </div>
    </div>
</div>