<body>
  <div class="main-container">
    <div class="page-wrap">
      <div class="uk-child-width-1-3@m" uk-grid>
        <div class="uk-panel">
          <img
            class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-margin-large-left uk-margin-large-top"
            src="../../images/MelissaHo.jpg" alt="" style="height: 380px;">
        </div>
        <div class="about-label">
          <h2>Front-End<br><small>Melissa Ho</small></h2>
          <div class="about-desc">

            Melissa is a senior Computer Science student at SFSU in her last semester. She hopes to work in a field where she can
            design products used by many people. In her free time, she likes to cook, crochet, and run long distances. 
          </div>
        </div>
      </div>
    </div>
</body>