<!--
      FILE: views/postItem.hbs
      DESCRIPTION: This page allows users to fill out information in a form to create a post.  

      ADDED BY: Chuting Yan 
  -->

<!--
      CODE REVIEW: 5/12/22
      REVIEWED BY: Melissa Ho
 -->
 
<body>
    <div class="main-container">
        <div class="page-wrap">
            <div class="post-item">
                <div class="grid-container">
                    <div class="form-box">
                            <!--MELISSA: 
                            Great shadow border around the form. It really makes it have a cool pop out effect. 
                            I also like that you set up TODO portions of comments to collaborate with the backend team. 
                            Organization definitely makes vertical programing easier!
                            -->
                        <!-- TODO: Fill out action when route is done-->
                        <form class="form-postitems" encType="multipart/form-data" method="post" action="/item/post">
                            <div class="banner">
                            
                            <!--MELISSA: 
                            I really like how this portion of the code is set up. 
                            It's easy to read and understand. However, the text in front of the 
                            banner is a little hard to read. I recommend changing the color or 
                            font size.
                            -->
                            
                                <div class="h1-postitems">Post Item For Sale Or List Jobs</div>
                            </div>
                            
                            <!--MELISSA: 
                            A suggestion I have is to put the "labels denoted with * are mandatory" 
                            Line underneath the header instead of by itself on the right. That way, it's 
                            easier for the user to read as he or she browses down the page. 
                            -->
                            
                            <div class="item float-right">
                                Labels denoted with <span>*</span> are mandatory.
                            </div>
                            
                            <!--MELISSA: 
                            In my opinion, the labels for the forms should be a little larger to look like headings.
                            -->
                            
                            <div class="item">
                                <label for="name"> Title <span>*</span></label>
                                <input id="name" type="text" name="title" required />
                            </div>
                            <div class="item">
                                <label for="name">Category <span>*</span></label>
                                <select id="post-category" type="text" name="category" class="form-control" required />
                                    <option value="" selected disabled>--Select Category--</option>
                                    {{!-- <option value="Books">Books</option>
                                    <option value="School Supplies">School Supplies</option>
                                    <option value="Furniture">Furniture</option>
                                    <option value="Help Wanted">Help Wanted</option>
                                    <option value="Services">Services</option>
                                    <option value="Miscellaneous">Miscellaneous</option> --}}
                                </select>
                            </div>
                            <div class="item">
                                <label for="price">Price <span>*</span></label>
                                <input id="number" type="text" name="price" required />
                            </div>
                            <div class="item">
                                <label for="condition">Condition </label>
                                <input id="condition" type="text" name="quality" />
                            </div>
                            {{!-- <div class="item">
                                <label for="location">Location <span>*</span></label>
                                <select id="form_need" name="need" class="form-control" required="required"
                                    data-error="Please select the location.">
                                    <option value="" selected disabled>--Select Location--</option>
                                    <option>SFSU BookStore</option>
                                    <option>SFSU Library</option>
                                    <option>SFSU Burk Building</option>
                                    <option>Other</option>
                                </select>
                                <input id="location" type="text" name="location" required />
                            </div> --}}
                            <div class="item">
                                <label for="picture">Upload Picture <span>*</span></label>
                                <input id="picture" name="picture" type="file" required />
                            </div>
                            <div class="item">
                                <label for="instructions">Description <span>*</span></label>
                                <textarea id="instructions" name="description" rows="3" required></textarea>
                            </div>
                            <!--MELISSA: 
                            I like the feature that limits users to a certain number of characters for the description.
                            It's a good security implementation. However, I feel as if 100 characters is too little. Maybe you could
                            change it to 250 characters, to keep it short but still allow the user to say what he or she needs.
                            -->
                            <p><small>0/100 characters</small></p>
                            <div class="btn-block">
                                <button type="submit" class="certain " name="submit" onclick="document.location.href = /item">Submit</button>
                                <button type="clear" class="light"> Clear Form</button>
                                <p><small>May take up to 24 hours for approval</small></p>
                            </div>
                        </form>
                    </div>
                    <script>
                        //js elements to submit and clear form go here
                    </script>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

<script>
    getCategories("post-category")
</script>
