<!--
      FILE: views/registration.hbs
      DESCRIPTION: This page is generated when the user wishes to create an account at GatorMart. 
      It prompts the user to fill out a form with their SFSU email and basic information. 

      ADDED BY: Melissa Ho
-->

<body onload="getResults()">
  <div class="main-container">
    <div class="page-wrap">
      <section class="section my-1">
        <div class="container text-center">
          <div class="title py-5">
            <p class="text-left" id="num-results">
              
            </p>
            <div class="dropdown float-right">
              <select onchange="getResults()" class=" float-right" form="navBarSearchForm" name="sortby" id="sortby">
                <option value="">Sort By</option>
                <option class="dropdown-item" value="price ASC">Price: Low to High</option>
                <option class="dropdown-item" value="price DESC">Price: High to Low</option>
                <option class="dropdown-item" value="creation_time DESC">Date: Newest First</option>
                <option class="dropdown-item" value="creation_time ASC">Date: Oldest First</option>
              </select>
            </div>

          </div>
          <!-- Image cards  -->
            <div class="row" id="cards-section-append"></div>
        </div>
      </section>
    </div>
    <!-- Footer Starts-->

    <!-- Footer Ends-->
  </div>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script>
    $('.dropdown a').click(function(){ $('#selected').text($(this).text()); });
  </script>
</body>