body {
  font-family: "Lato", sans-serif;
}

h1 {
  margin-bottom: 40px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  background: #231161;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}


/* 
  Badge denoting number of messages for a given user.
*/
.notification {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.notification .badge {
  position: absolute;
  top: 10px;
  right: -18px;
  /* padding: 5px 10px; */
  border-radius: 50%;
  background: red;
  color: white;
}

/* Item cards */
.card {
  margin-left: 10px;
  margin-right: 10px;
}
.item span {
  color: red;
}
