/* Registration page*/

.registration-container {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    padding-bottom: 0.5rem;
  }
html,
body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
.user-registration-left-column {
    width: 50%;
}

.user-registration-right-column {
    width: 50%
}
.registration-label {
    padding-top: 5em;
    font-size: 40px;
    font-family: "Roboto", sans-serif; 
    letter-spacing: -2px;
    text-align:center;
}

.user-registration {
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title registration-form";
    font-weight: 300;
    font-size: 52px;
    color: #43484d;
    letter-spacing: -2px;
}

.registration-form {
    grid-area: registration-form;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    line-height: 24px;
    padding-bottom: 0
}

fieldset.reigstration-form {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    line-height: 24px;
    letter-spacing: -1px;
    padding-top: 6rem;
}

#register-form{
    padding-top: 10rem;
}


input {
    display: inline-block;
}

.register-h1 span {
    font-size: 20px;
    color: red;
}

.register-h2 span {
    font-size: 20px;
    color: red;
}

.check {
    font-size: 16px;
    color: #86939e;
}


#register-button {
    display: inline-block;
    background-color: #240733;
    border-radius: 9px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 30px;
    transition: all 0.5s;
}
.register-h2 {
    width: 50%;
    font-size: 20px;
    color: Black;
    letter-spacing: -1px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.register-h1 {
    width: 50%;
    font-size: 20px;
    color: Black;
    letter-spacing: -1px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#text-box {
    width: 300px;
    height: 25px;
    border-radius: 6px;
    border-width: 0.5px;
    font-size: 12px;
    padding-left: 0.5rem;
}

.registration-bottom{
    color: black;
    font-size: 16px;
    padding-top: 10px;
}
