/* @import "css/uikit.min.css";
@import "https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css"; */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

#icon{
  max-height: 3em;
  padding-right: 1em;
  padding-left: 1em;
}

h1{
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -3px;
  padding-top: 40%
}

h2 {
  text-align: center;
}
img {
  border-radius: 10px;
}

body {
  padding: 50px;
  height: 100%;
}

* {
  box-sizing: border-box;
  text-size-adjust: center;
}

.container {
  background-color: #f1f1f1;
  padding: 20px;
  padding-bottom: 15rem;
  position: relative;
}

.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* #main {
  min-height: 100vh; 
  overflow: hidden;
} */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -15rem;
}

.page-wrap:after {
  content: "";
  display: block;
}

/* use flex */
#container {
  display: flex;
  flex-wrap: wrap;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* show 4 pics per line */
#container div {
  width: 25%;
}
#container div img {
  width: 100%;
}

#main-content {
  grid-area: content;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  display: grid;
  gap: 0.2rem 0.2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

/* card design */
.card {
  display: grid;
  grid-template-rows: 186px 150px;
  grid-template-columns: auto;
  border: 0.0625rem solid #cccccc;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px #dfdede;
}
.card-image {
  grid-area: 1 / 1 / 2 / 2;
}
div[class="card"] > img {
  height: 100%;
  width: 100%;
}

.card-title {
  color: white;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.1rem;
  margin-top: 0;
  padding-top: 0.1rem;
}
.card-body {
  grid-area: 2/1/3/2;
  padding: 0.75rem;
  background-color: #232f3e;
  border-radius: 0 0 0.2rem 0.2rem;
}
div[class="card-body"] > a[class="card-button"] {
  text-decoration: none;
}
.card-text {
  color: white;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}

#content-wrap {
  overflow: auto;
  padding-bottom: 15rem; /* Footer height */
}

/* The footer is fixed to the bottom of the page */

/* footer {
  bottom: 0;
} */

.footer,
.page-wrap:after {
  height: 15rem;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #4b4c4d;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #4b4c4d;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #4b4c4d;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #4b4c4d;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #4b4c4d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* Select dropdown button */

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 2px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
  width: auto;
  margin-right: 12px;
  margin-left: 25px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.search-bar button {
  background-color: #febd69;
}

/* Basic Styling */

main.container{
  background: white;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
  padding-right: 20px;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
  padding-left: 20px;
}
.product-img{
  height: 75%;
  padding: 20px;
}

.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
 

/* Product Description */
.product-description {
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #000000;
  letter-spacing: -2px;
}

.product-description h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.product-description h5 {
  font-size: 20px;
  letter-spacing: -1px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 30px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #240733;
  border-radius: 9px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

/* Registration page*/

.user-registration{
  grid-area:content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:"title registration-form";
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.registration-form{
  grid-area: registration-form;
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.form{
  font-size: 30px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
  letter-spacing:-1px;
}

fieldset{
  border: none;
}

input{
  display: inline-block
}

.check{
  font-size: 16px;
  color: #86939E;
}

.register-left-column{
  width: 40%;
  position: relative;
  padding-right: 20px;
}
 
.register-right-column {
  width: 60%;
  margin-top: 10px;
  padding-left: 20px;
}

#register-button{
    background-color: #240733;
    border-radius: 9px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.register-h1
{
  font-size: 28px;
  color: #43484D;
  letter-spacing: -2px;
  padding-bottom: 5px;
  padding-top: 10px;
}

#text-box{
  width: 300px;
  height: 25px;
  border-radius: 6px;
  border-width: 1px;
}

fieldset.form{
  padding-top: 15%
}