@import "css/uikit.min.css";
@import "https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css";

h2{
  margin-top: 2em;
  margin-left: 2.1em;
}

h3 {
  line-height: 30px;
  margin-top: 0.37em;
  margin-bottom: 0.37em;
}

img {
  border-radius: 10px;
}

